.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    height: 340px;
    width: 340px;
    margin: auto 10px 50px 10px;
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    text-align: start;
    margin: auto 0px auto 20px;
    /* margin-left: 20px; */
}

.card-img {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.a {
    height: 20%;
}

.b {
    height: 80%;
}